<table bgcolor="White" align="center" width="100%" border="5">
    <tr>
        <th>Sản phẩm chất lượng</th>
        <th>Giao hàng trong ngày</th>
        <th>Thanh toán linh hoạt</th>
        <th>Đa dạng lựa chọn</th>
    </tr>
    <tr id="type1">
        <td>Cam kết hoàn trả 100% giá trị sản phẩm nếu khách hàng phát hiện hàng giả , hàng kém chất lượng</td>
        <td>Giao hàng nội thành Hà Nội trong vòng 24h kể từ khi xác nhận đơn hàng</td>
        <td>Hỗ trợ cả 2 hình thức: COD và chuyển khoản. Khách hàng kiểm tra kỹ trước khi thanh toán</td>
        <td>Đa dạng mặt hàng, chủng loại sản phẩm...đáp ứng mọi nhu cầu của khách hàng</td>
    </tr>
</table>
